[submodule "main"]
	path = main
	url = https://github.com/TheDushan/nexTrem-assets
[submodule "src/engine/gameLogics"]
	path = src/engine/gameLogics
	url = https://github.com/TheDushan/nexTrem-game-logic
