[submodule "main"]
	path = main
	url = https://github.com/TheDushan/nexTrem-assets
[submodule "src/engine"]
	path = src/engine
	url = https://github.com/TheDushan/nexTrem-game-logic
[submodule "src/engine/nexTrem"]
	path = src/engine/nexTrem
	url = https://github.com/TheDushan/nexTrem-game-logic
